{{ template "partials/head.html" . }}
{{ template "partials/sidebar.html" . }}
{{ template "partials/main.html" . }}

<article>
  {{ range .Data.Pages }}
    {{if eq .RelPermalink "/frontpage" }} {{ .Content }} {{end}}
  {{ end }}
</article>

<article>
  <header>
    <h1 class="reduce-skip">Latest Posts</h1>
  </header>

  {{ range $i, $page := .Site.Taxonomies.collections.frontpage }}
    {{ if lt $i 3 }}
      {{ $page.Page.Render "summary"}}
    {{ end }}
  {{ end }}

  <footer>
  <a href="{{ "/collections/posts" | urlize }}">Show all posts</a>
  </footer>
</article>

{{ template "partials/end.html" .}}